{% extends "base.html" %}

{% block content %}
<div class="container">
		<div id="internal">
			<img src="/static/images/SRWEBLOGO.JPG" alt="SRWeb Logo" width="128" height="128">
			<h1> SRWeb Home Page </h1>
			<p> Welcome to the home page for SRWeb, a program designed to keep track of your competitive progress through the Overwatch system of Skill Rating (SR) </p>
			<p> You can navigate our website through the use of the navigation bar at the top of the page </p>
		</div>
	</div>
{% endblock %}